<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- 1. associate with jdbc properties file -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- 2.datasource -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${jdbc.username}"></property>	
		<property name="password" value="${jdbc.password}"></property>	
		<property name="driverClass" value="${jdbc.driver}"></property>	
		<property name="jdbcUrl" value="${jdbc.url}"></property>	
		
		<property name="maxPoolSize" value="30" />
		<property name="minPoolSize" value="10" />
		<property name="autoCommitOnClose" value="false" />
		<property name="checkoutTimeout" value="10000" />
		<property name="acquireRetryAttempts" value="2" />
	</bean>
	
	<!-- 3.SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- myBaties config file -->
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<!-- scan entity -->
		<property name="typeAliasesPackage" value="com.jacklab.o2o.entity" />
		<!-- scan mapper files -->
		<property name="mapperLocations" value="classpath:mapper/*.xml" />
	</bean>
	
	<!-- 4.Mapper scanner -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- inject sqlSessionFactory -->
		<property name="sqlSessionFactoryBeanName"  value="sqlSessionFactory" />
		<!-- scan dao package -->
		<property name="basePackage" value="com.jacklab.o2o.dao" />
	</bean>
</beans>